.App {
  height: 100vh;
  background-image: linear-gradient(to right, #17c2dd, #00acf8, #898af2, #d355bb, #eb1260);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 15vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
.title{
  border: 5px solid yellow;
  font-size: 5vh;
  width: 50vw;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header *{
  margin: 10px;
}

form{
  border: 2px solid black;
  background-color: bisque;
  width: 20vw;
  text-align: center;
  margin: auto;
  padding: auto;
}
form *{
  margin: 3px;
}